.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* Tablet */
@media (min-width: 834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }

    .rodape__container {
        justify-content: space-between;
    }
}

.rodape__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 100px;
    
    
}

/* SECAO SUPERIOR */
.superior__secao__container {
    display: flex;
    white-space: nowrap;
    align-items: center;    
    gap: 15px;
}
@media (min-width: 834px) {
    .superior__secao__container {
        overflow: scroll;;
    }
}

@media (min-width: 1440px) {
    .superior__secao__container {
        overflow: hidden;
    }
}

@media (min-width: 480px) {
    .superior__secao__container {
        overflow: hidden;
    }
}

/* VIDEOS */

.videos__item {
    height: 303px;
    width: 280px;
    flex-grow: 1;
}

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* MENU */
.menu__container {
    position: fixed;
    bottom: 0%;
    height: 70px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* MENU LATERAL PARA TELAS DE TABLETS */

@media (min-width: 834px) {
    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }
}

@media (min-width: 1440px) {
    .menu__container {
        width: 239px;
        overflow-y: scroll;
    }

    .menu__lista {
        height: auto;
        gap: 15px;
        padding: 20px 17px 20px 15px;
    }

    .menu__itens {
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;
    }
}
